# polymorphism

In [1]:
5+5

10

In [2]:
"the" + "end"

'theend'

In [6]:
def add(a,b=0):
    return a+b

In [8]:
add(5)

5

Membership operators in Python
Membership operators are used to test if a sequence is presented in an object. The use membership operators to check whether a value or variable exists in a sequence (string, list, tuples, sets, dictionary) or not. They are two membership python operators in and not in. The in Operator is checks if a value is a member of a sequence. The not in Operator is checks if a value is not a member of a sequence.

In [12]:
a=[10,25,45,88]
print(25 in a)
print(25 not in a)

True
False

usage of membership function

In [154]:
cat = input("enter the product :").lower()
store_product = ["dairy milk","kit kat","munch"]
if cat not in store_product:
    print("stock not availble")
    print("just try one of this")
    print(store_product)
elif cat in store_product:
    print("available")
    store_product.remove(cat)
print(store_product)

enter the product :munch
available
['dairy milk', 'kit kat']

In [1]:
# Date Time in Python
import datetime as dt
 
current_date = dt.date.today()
print("Current Date : ", current_date)

Current Date :  2024-02-29

In [4]:
new = dt.date(2021, 10, 25)
print(new)

2021-10-25

In [5]:
print("Year : ", new.year)
print("Month : ", new.month)
print("Day : ", new.day)

Year :  2021
Month :  10
Day :  25

In [7]:
a = dt.time(10, 45)
print(a)
print("Hour : ", a.hour)
print("minute : ", a.minute)
print("second : ", a.second)
print("microsecond : ", a.microsecond)

10:45:00
Hour :  10
minute :  45
second :  0
microsecond :  0

In [8]:
current_time = dt.datetime.now()
print("Current Time : ", current_time)

Current Time :  2024-02-29 11:28:07.260914

In [10]:
new = dt.datetime(2021, 5, 31, 12, 2, 10,342)
print(new)
print(new.date())
print(new.time())

2021-05-31 12:02:10.000342
2021-05-31
12:02:10.000342

In [11]:
current = dt.datetime.now()
new_year = dt.datetime(2025, 1, 1)
difference = new_year - current
print(difference)

306 days, 12:30:29.191832

In [14]:
current = dt.datetime.now()
print(current)
s=current.strftime("%A %b %d %y")
print(s)

2024-02-29 11:31:06.965305
Thursday Feb 29 24

Math Functions in Python
The Python Math Library provides us access to some common math functions and constants in Python. The math module is used to access mathematical functions in the Python. Some of the most popular mathematical functions are defined in the math module. All methods of this functions are used for integer or real type objects, not for complex numbers.

sqrt ( ) => The square root of the argument
ceil ( ) => Rounds float value up to an integer value
floor ( ) => Rounds float value down to an integer value
fabs ( ) => Value is return to the absolute ( positive ) value
pow ( ) => Returns the value of the first parameter raised to the second parameter
factorial ( ) => Returns the factorial of a number

In [34]:
import math
 
print(math.sqrt(4))
print(math.ceil(1.55555))
print(math.floor(1.55555))
# 5! => 1*2*3*4*5
print(math.factorial(5))
print(math.pow(2, 3))
print(math.pi)
print(math.e)

2.0
2
1
120
8.0
3.141592653589793
2.718281828459045

In [37]:
print("the name ",name ," and age is ",age)

the name  kamesh  and age is  24

In [38]:
name = "kamesh"
age = 24
print(f'the name {name} and age is {age}')

the name kamesh and age is 24

In [39]:
a = 5
b = 10
c = a+b
print(f'the value of c is {c}')

the value of c is 15

In [40]:
def add(a=10,b=5):
    return f'the added value is {a+b}'

In [41]:
add()

'the added value is 15'

In [42]:
name1,name2,name3 = "kamesh","kannan","hello"

In [46]:
print(name1,name2,name3)
print(name1,name2,name3,sep="            ")

kamesh kannan hello
kamesh            kannan            hello

In [52]:
a = ["hello","hii","west","east"]
#print(a)
b=" ".join(a)
print(b.split())
#type(b)

['hello', 'hii', 'west', 'east']

python have three type of errors.they are compile time error,logical error,run time

In [15]:
k = int(input("Enter a number"))
print(k)

Enter a numbercvbn

ValueError: invalid literal for int() with base 10: 'cvbn'

In [16]:
5/0

ZeroDivisionError: division by zero

In [29]:
a = 5
b = 3

try:
    print("start")
    print(a/b)
    age = int(input("Enter a age"))
    print(age)

#except ZeroDivisionError as e:
    #print("Hey, You cannot divide a Number by Zero")

#except ValueError as e:
    #print(e)

except Exception as e:
    print(e)
else:
    for i in range(1,10):
        print(i)
finally:
    print("end")

start
1.6666666666666667
Enter a agethgfdsaa
invalid literal for int() with base 10: 'thgfdsaa'
end

In [32]:
try:
    a = 10 / 0
except Exception as e:
    print(e)
else:
    print("A Value : ",a)
for i in range(1,5):
    print(i)

division by zero
1
2
3
4

In [34]:
try:
    a = 10 / 2
except Exception as e:
    print(e)
else:
    print("A Value : ",a)
finally:
    print("Thank You")

A Value :  5.0
Thank You

In [37]:
f=10

In [38]:
try:
    print(f)
except NameError as e:
    print(e)

10

In [39]:
try:
    print(10 / 0)
except ZeroDivisionError as e:
    print("denominator cant be zero")

denominator cant be zero

In [41]:
try:
    a = int("fhgdfx")
except ValueError as e:
    print("Please Enter Numbers only")
else:
    print(a)

Please Enter Numbers only

In [42]:
a = [2,3,45,6,6,7]

In [43]:
a[10]

IndexError: list index out of range

In [50]:
try:
    a = [10, 20, 30, 40]
except IndexError as e:
    print("Invalid Index")
else:
     print(a[20])
finally:
    print("end")

end

IndexError: list index out of range

In [46]:
try:
    f = open("tesot.txt")
except FileNotFoundError:
    print("File Not Found")
else:
    print(f.read())

File Not Found

In [82]:
def add(*val):
    name=[]
    age = []
    employee_id = []
    for i in val:
        if type(i)==str:
            if i.startswith("id"):
                employee_id.append(i)
            else:
                name.append(i)
        elif type(i)==int:
            age.append(i)
    #return name,age,employee_id
    return f'student name {name} and the age is {age} and employee id {employee_id}'

In [83]:
add("sdf",45,"ergh",45,"id23456","id34556")

"student name ['sdf', 'ergh'] and the age is [45, 45] and employee id ['id23456', 'id34556']"

In [86]:
def na(**data):
    d = data
    age = data["age"]
    print(age)
    for i in d.keys():
        print(i)
    for i in d.values():
        print(i)
    print(data)

In [87]:
na(name=[1,3,4,5,6,6],age=[13,34,46,87])

[13, 34, 46, 87]
name
age
[1, 3, 4, 5, 6, 6]
[13, 34, 46, 87]
{'name': [1, 3, 4, 5, 6, 6], 'age': [13, 34, 46, 87]}