In [ ]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",password="Harish@879",database="icecream")
res=con.cursor()
from tabulate import tabulate
def insert():
    id=int(input("enter the id:"))
    name=input("enter the user name:")
    icename=input("enter the ice name:")
    flavour=input("enter the flavour name:")
    perqtyprice=int(input("enter the qty price:"))
    qty=int(input("how many qty:"))
    
    totalamount=(qty*perqtyprice)
    qry="insert into shop values(%s,%s,%s,%s,%s,%s,%s)"
    val=(id,name,icename,flavour,perqtyprice,qty,totalamount)
    res.execute(qry,val)
    con.commit()
    print("inserted")
    qry="select * from shop"
    res.execute(qry)
    data=res.fetchall()
    print(tabulate(data,headers=["id","name","icename","flavour","perqtyprice","qty","totalamount"]))
def delete():
    id=int(input("enter the id no:"))
    qry="delete from shop where(id=%s)"
    val=(id,)
    res.execute(qry,val)
    con.commit()
    print("data deleted")
n="yes"
while n=="yes":
    p=input("do you want to purchase:1.yes\n 2.no")
    if(p=="yes" or p=="1"):
        insert()
    else:
        delete()
    n=input("do you want to continue?:1.yes\n 2.no").lower()

do you want to purchase or update:1.update
 2.purchase1
enter the id:5
enter the user name:dnfjndf
enter the ice name:dmnfjdf
enter the flavour name:jhdfnjdf
enter the qty price:6
how many qty:4
inserted
  id  name     icename    flavour      perqtyprice    qty    totalamount
----  -------  ---------  ---------  -------------  -----  -------------
   2  arun     arun       vennila               40      4            160
   1  Harish   ibaco      choco                 60      3            180
   5  dnfjndf  dmnfjdf    jhdfnjdf               6      4             24
do you want to continue?:1.yes
 2.noyes
do you want to purchase or update:1.update
 2.purchase2
enter the id no:5
purchased

In [2]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",password="Harish@879",database="icecream")
res=con.cursor()
from tabulate import tabulate
def purchase():
    storage={"arun":{"choco":50,"vennila":70},"ibaco":{"choco":90,"vennila":100}}
    print(storage.keys())
    id=int(input("enter the id name"))
    name=input("enter the name")
    icename=input("enter icename")
    print(list(storage[icename].keys()))
    flavour=input("enter the flavour")
    print(storage[icename][flavour])
    perpriceqty=storage[icename][flavour]
    qty=int(input("enter the qty"))
    totalamount=perpriceqty*qty
    qry="insert into shop values(%s,%s,%s,%s,%s,%s,%s)"
    val=(id,name,icename,flavour,perpriceqty,qty,totalamount)
    res.execute(qry,val)
    con.commit()
    print("purchased")
    qry="select name,icename,flavour,qty,totalamount from shop where id=%s"
    val=(id,)
    res.execute(qry,val)
    data=res.fetchall()
    print(tabulate(data,headers=["name","icename","flavour","qty","totalamount"]))
purchase()

dict_keys(['arun', 'ibaco'])
enter the id name1
enter the nameHarish
enter icenamearun
['choco', 'vennila']
enter the flavourchoco
50
enter the qty2
purchased
name    icename    flavour      qty    totalamount
------  ---------  ---------  -----  -------------
harish  arun       choco          3            150
Harish  arun       choco          2            100

In [13]:
storage={"arun":{"choco":50,"vennila":70},"ibaco":{"choco":90,"vennila":100}}
storage["arun"]["choco"]

50

hii

In [3]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",password="Harish@879",database="icecream")
res=con.cursor()
from tabulate import tabulate

In [5]:
qry="select * from shop"
res.execute(qry)
data=res.fetchall()
print(tabulate(data,headers=["id","name","icename","flavour","perqtyprice","qty","totalamount"]))

  id  name    icename    flavour      perqtyprice    qty    totalamount
----  ------  ---------  ---------  -------------  -----  -------------
   2  arun    arun       vennila               40      4            160
   1  harish  arun       choco                 50      3            150
   3  arun    ibaco      vennila              100      4            400
   5  kag     arun       vennila               70      8            560
   7  virat   ibaco      vennila              100      6            600
  17  lsjhas  arun       choco                 50      6            300
  99  jut     arun       vennila               70     13            910
   1  Harish  arun       choco                 50      2            100

In [5]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",password="Harish@879",database="harish")
res=con.cursor()
from tabulate import tabulate
cus_id=int(input())
password=int(input())
qry1="select cus_id from user_register where cus_id=%s"
val=(cus_id,)
res.execute(qry1,val)
data=res.fetchall()
dcus_id=data[0][0]
qry2="select password from user_register where cus_id=%s"
val=(cus_id,)
res.execute(qry2,val)
data=res.fetchall()
dpass=data[0][0]
if(cus_id==dcus_id and password==dpass):
    print("log in sucessfully")
else:
    print("error")

1
97900
log in sucessfully