In [1]:
#String

In [ ]:
#index is used to print single letter
a="python is a programming language"
print(a[0])

In [5]:
#split is used to split the word and split output type is list
a="python is a programming language"
b=a.split(" ")
print(b)

['pyhton', 'is', 'a', 'programming', 'language']

In [8]:
#find is used to find the index value of the character
a="python is a programming language"
b=a.find("i")
print(b)

7

In [12]:
#join is only work in list and join the all letters 
a=['pyhton', 'is', 'a', 'programming', 'language']
b="".join(a)
print(b)

pyhtonisaprogramminglanguage

In [15]:
#replace is used to any words or letters replace into other words/letters
a="java is a programming language"
b=a.replace('java','python')
print(b)

python is a programming language

In [16]:
#count is used to count the particular character
a="python is a programming language"
b=a.count('a')
print(b)

4

In [20]:
#capitalize is used change the first letter of the paragraph into capital
a="java is a programming language"
b=a.capitalize()
print(b)

Java is a programming language

In [3]:
#strip is used to delete the unwanted space but not works in inbetween the strings
a="   python is a programming language   "
a.strip()

'python is a programming language'

In [2]:
#lstrip is used to delete the left side space
a="   python is a programming language   "
a.lstrip()

'python is a programming language   '

In [4]:
#lstrip is used to delete the right side space
a="   python is a programming language   "
a.rstrip()

'   python is a programming language'

In [5]:
#title is used to change the first letter capital in all the word
a="python is a programming language"
b=a.title()
print(b)

Python Is A Programming Language

In [ ]:
#List

In [2]:
#append is used to update the value
a=[1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [3]:
#pop is used to remove the last value
a=[1,2,3,4,5]
a.pop()
print(a)

[1, 2, 3, 4]

In [4]:
#sort is used to assign the valuse to accending order but sort is not stored in a variable
a=[2,4,1,3]
a.sort()
print(a)

[1, 2, 3, 4]

In [10]:
#sorted is also same like sort but we stored the value in particular variable
a=[2,4,1,3]
b=sorted(a)
c=sorted(a,reverse=True)
print(b)
print(c)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [11]:
#clear is used to clear the whole value in the list
a=[1,2,3,4]
a.clear()
print(a)

[]

In [12]:
#remove is used to remove particular value in one time
a=[1,2,2,3,4]
a.remove(2)
print(a)

[1, 2, 3, 4]

In [15]:
#max is used to find the maximum value of the list
a=[1,2,3,4]
b=max(a)
print(b)

4

In [16]:
#min is used to find the minimum value of the list
a=[1,2,3,4]
b=min(a)
print(b)

1

In [17]:
#sum is used to add the all values in the list
a=[1,2,3,4]
b=sum(a)
print(b)

10

In [19]:
#extend is used to join the two list and is not stored in a variable
a=[1,2,3,4]
b=[5,6,7,8]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Tuble tuble is constant so we make no changes into  the tuble,we typecaste tuble into list and we make changes

In [ ]:
#set

In [20]:
#add is used to add the value
a={1,2,3}
a.add(4)
print(a)

{1, 2, 3, 4}

In [27]:
#update is used to append the value but not stored in variables and is used only
#for the set strings
a={"apple","orange"}
a.update("5")
print(a)

{'apple', '5', 'orange'}

In [1]:
#union or | is used to join the two value
a={1,2,3,4}
b={4,5,6}
c=a.union(b)
d=a|b
print(c)
print(d)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [52]:
#intersection or & is used to find the common values
a={1,2,3}
b={3,4,5}
c=a.intersection(b)
d=a&b
print(c)
print(d)

{3}
{3}

In [32]:
#intersection_update is used to same as intesrsection but not stored in a variable
a={1,2,3}
b={3,4,5}
a.intersection_update(b)
print(a)

{3}

In [53]:
#difference or - is used to remove the common values and print supersubset value
a={1,2,3,4,5,6}
b={4,5,6,7}
c=a.difference(b)
d=a-b
print(c)
print(d)

{1, 2, 3}
{1, 2, 3}

In [40]:
#symmetric_difference is used to remove the common value and print all values between two sets
a={1,2,3,4}
b={4,5,6,7}
c=a.symmetric_difference(b)
print(c)

{1, 2, 3, 5, 6, 7}

In [2]:
#issuperset is used to find the 'b' value is same as 'a' value
a={1,2,3,4,5}
b={1,2,3,4}
a.issuperset(b)

True

In [58]:
#subset is used to 'a' value is same as 'b' value
a={1,2,3,4}
b={1,2,3}
a.issubset(b)

True