In [1]:
import pandas as pd

In [24]:
data = [[1,2,3],[4,5]]

In [10]:
d = {"a":(1,2,3),"b":(5,65,7)}

In [25]:
data = pd.DataFrame(data,columns = ["a","b","c"])

In [26]:
data

   a  b    c
0  1  2  3.0
1  4  5  NaN

In [29]:
import numpy as np
np.array([1,2,4,np.nan])

array([ 1.,  2.,  4., nan])